@import '../../style/scss/variables';

.icon {
    &__add {
        max-height: $font-size-large;
        padding-top: 4px;
        padding-right: 10px;
    }
}

.board {
    &_columnList {
        min-width: $width-column ;
    }

    &_newColumn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: $width-column;
        height: '100%';
        margin-left: 80px;
    }

    & .buttonWrapper {
        max-height: 37px;
    }   
}



