@import '../scss/variables';

.icon {
    &__add {
        max-height: $font-size-large;
        padding-top: 4px;
        padding-right: 10px;
    }
}

.board {
    &_columnList {
        min-width: $width-column ;
    }

    &_newColumn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: $width-column;
        height: '100%';
        margin-left: 80px;
    }

   
}

.modal { 
    display: flex;
    flex-direction: column;
    width: $width-column;
    height: 150px;

    & .input {
        width: 100%;
        min-height: calc(100% - 40px);;
        padding: 0;
        resize: none;
    }

    & .button {
        width: 100%;
        height: 40px;
    }
}



