.modal { 
    display: flex;
    flex-direction: column;
    width: var(--width-column);
    height: 150px;

    & .input {
        width: 100%;
        min-height: calc(100% - 40px);
        padding: 0;
        resize: none;
    }

    & .button {
        width: 100%;
        height: 40px;
    }
}