.main {
  min-height: calc(100vh - 180px);
  background-color: var(--main-background-color);
}

.wrapper {
  width: var(--container-width-medium);
  padding: 15px 0;
  margin: 0 auto;
}

.boardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: center;
  margin: 0 auto;
}

.wrapperSubtitle {
  padding: 5px;
}

.boardContainer {
  width: 450px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 -5px 5px -5px #223c5099;
  transition: 0.5s;

  &Title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    margin: 5px;
    border-bottom: 1px solid #00000045;
  }

  .title {
    padding: 3px 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .buttonContainer {
    display: flex;
    column-gap: 10px;

    .btn {
      font-size: 14px;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.5s;
    }

    .open {
      color: var(--color-add);
      background-color: #f7f7f7;
      border: 1px solid var(--color-add);
    }

    .open:hover {
      color: #ffffff;
      background-color: var(--color-add);
      border: 1px solid var(--color-add);
    }

    .change {
      color: var(--color-submit);
      background-color: #f7f7f7;
      border: 1px solid var(--color-submit);
    }

    .change:hover {
      color: #ffffff;
      background-color: var(--color-submit);
      border: 1px solid var(--color-submit);
    }

    .delete {
      color: var(--color-delete);
      background-color: #f7f7f7;
      border: 1px solid var(--color-delete);
    }

    .delete:hover {
      color: #ffffff;
      background-color: var(--color-delete);
      border: 1px solid var(--color-delete);
    }
  }

  &Subtitle {
    height: 80px;
    padding-right: 5px;
    margin: 0;
    overflow: auto;
    font-size: 14px;
  }

  &Subtitle::-webkit-scrollbar {
    width: 8px;
    height: 4px;
  }

  &Subtitle::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 4px;
  }

  &Subtitle::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
  }
}

.boardContainer:hover {
  background-color: #ffffff;
  transform: scale(1.05);
}
