@import '../scss/variables';

.modal {
    & .cancel {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 40px;
        max-height: 40px;
    }

    &_form {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 30px $padding-base $padding-base $padding-base;
        background-color: $color-text-white;
        border: 2px solid #000000;
        border-radius: 5px;
        box-shadow: rgb(38 57 77) 0 20px 30px -10px;
        transform: translate(-50%, -50%);
    }
  };