@import '../../../style/scss/variables';

 .select {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-bottom: 3px;
        font-size: $font-size-medium;
        color: inherit;
        cursor: pointer;
        background-color: transparent;
        border-radius: 5px;
        outline: none;
        transition: $transition-base;

        &:hover {
            color: $color-text-white;
            background-color: $color-column-button;
            border: 2px solid transparent;
        }

        &:active {
            background-color: $text-column-color;
        }
    
    }

    