.container {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 180px);
  margin: 0 auto;

  &Medium {
    max-width: var(--container-width-medium);
  }
}

.backBtnWrapper {
  width: 220px;

  @media screen and (max-width: 321px) {
    width: 100%;;
  }

}

.main {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: var(--font-size-small);

  @media screen and (max-width: 560px) {
    padding: 0;
  }
}

.icon {
  &Add {
    max-height: var(--font-size-large);
    padding-top: 4px;
    padding-right: 10px;
  }
}

.board {
  &ColumnList {
    min-width: var(--width-column);
    margin: 0 20px;
  }

  &NewColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: var(--width-column);
    height: 100%;
    margin: 0 20px;

    @media screen and (max-width: 560px) {
      min-width: 250px;
    }
  }

  & .buttonWrapper {
    max-height: 37px;
  }
}

.columns {
  display: flex;
}

.titleContainer {
  display: flex;
  column-gap: 20px;
  align-items: flex-end;
  padding-top: 10px;

  @media screen and (max-width: 560px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &Title {
    margin: 0;
    font-size: var(--font-size-large);
    line-height: 30px;
    color: var(--details-background-color);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-medium);
  color: var(--color-text-white);
  text-align: center;
  cursor: pointer;
  background-color: var(--color-column-button);
  border: none;
  border-radius: 5px;
  transition: 0.5s;

  &:hover {
    color: var(--color-submit);
  }

  &BackToMain {
    max-width: 150px;
    margin-top: 10px;
  }
}
