.icon {
    &Add {
        max-height: var(--font-size-large);
        padding-top: 4px;
        padding-right: 10px;
    }
}

.board {
    &ColumnList {
        min-width: var(--width-column);
    }

    &NewColumn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: var(--width-column);
        height: 100%;
        margin-left: 80px;
    }

    & .buttonWrapper {
        max-height: 37px;
    }   
}



