$main-bg-light: #ece0d6;
$main-bg-dark: #1f2132;
$container-width-big: 90vw;
$container-width-medium: 85vw;
$title-color-dark: #1b1d21;
$title-color-light: #ece0d6;
$text-color: #403d3c;
$text-column-color: rgb(107 104 103);
$color-column-button: rgba(107 104 103 / 50%);
$color-text-white: #ffffff;
$font-size-large: 20px;
$font-size-medium: 16px;
$font-size-small: 14px;
$color-cancel: #f3758b;
$color-submit: #6dcccc;
$color-add: #007e5b;
$color-delete: #ff0000;
$width-column: 300px;
$padding-base: 10px;
$transition-base: 0.5s;
