.column {
  position: relative;
  width: 100%;
  min-width: var(--width-column);
  max-width: var(--width-column);
  height: 69vh;
  padding: var(--padding-base);
  margin: 0 20px 0 0;
  background-color: var(--details-background-color);
  border-radius: var(--padding-base);

  @media screen and (max-width: 560px){
    min-width: 250px;
    max-width: 250px;
    height: 66vh;
  }

}

.taskList {
  height: 100%;
  overflow-y: auto;
}

.iconAdd {
  max-height: var(--font-size-large);
  padding-top: 4px;
  padding-right: 10px;
}

.btnAddTask {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-medium);
  color: var(--color-text-white);
  text-align: center;
  cursor: pointer;
  background-color: var(--color-column-button);
  border: none;
  border-radius: 10px;
  transition: 0.5s;

  &:hover {
    color: var(--color-submit);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88%;
}

.draggable {
  width: 20%;
  height: 20px;
  margin: 0 auto 10px;
  background-color: var(--color-column-button);
  border-radius: 5px;
  transition: 0.5s;

  &:hover {
    background-color: var(--main-background-color);
  }
}
