.task {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - #{var(--padding-base)} * 2);
    height: 50px;
    padding: 0 var(--padding-base);
    margin-bottom: var(--padding-base);    
    color: var(--text-color);
    cursor: pointer;
    background-color: var(--color-text-white);
    border-radius: 3px;
    transition: 0.5s;
    
    &Buttons {
        display: flex;
        justify-content: space-between;
        width: 80px;
        opacity: 0;
    }

    &Title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &:hover {
        color: var(--color-text-white);
        background-color: var(--color-column-button);

        & .task {
            &Buttons{
                opacity: 1;
            }
        }
    }
}
