@import '../../../style/scss/variables';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 15px;
  width: 100%;
  max-width: 1200px;
}

.title {
  margin: 30px 0;
  color: $text-color;
  text-align: center;
}
