@import '../../../../style/scss/variables';

.titleColumn {
  display: flex;
  width: 100%;
  height: 100%;

  & .buttons {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  & .input {
    width: calc(100% - 90px);
    margin-left: $padding-base;
    border: none;
    outline: none;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 3px;
  color: $color-text-white;
  text-align: center;
  cursor: pointer;
  background-color: $color-column-button;
  border: none;
  border-radius: 5px;
  transition: 0.5s;

  &Cancel:hover {
    color: $color-cancel;
  }

  &Submit:hover {
    color: $color-submit;
  }
}
