@import '../../../../style/scss/variables';

.form {
  display: flex;
  width: 100%;
  height: 100%;

  & .buttons {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }

  & .input {
    width: calc(100% - 90px);
    margin-left: $padding-base;
    border: none;
    outline: none;
  }
}
