.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--container-width-medium);
  height: calc(100vh - 180px);
  margin: 0 auto;
  background-color: var(--main-background-color);
}