.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 300px;
  padding: 20px;
  margin: 20px auto;
  background-color: #f0f9f6;
  border: 1px solid gray;
  border-radius: 6px;
}
