.title {
  margin: 30px 0;
  color: var(--details-background-color);
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.subtitle {
  color: var(--details-background-color);
  letter-spacing: 0.03em;
}
