@import '../../../style/scss/variables';

.title {
  margin: 30px 0;
  color: $text-color;
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.subtitle {
  color: $text-color;
  letter-spacing: 0.03em;
}
