.column {
    position: relative;
    width: 100%;
    max-width: var(--width-column);
    height: 71vh;
    max-height: 71vh;
    padding: var(--padding-base);
    background-color: var(--details-background-color);
    border-radius: var(--padding-base);
}

.taskList {
    &Scroll {
        max-height: 90%;
        overflow-y: scroll;
    }
}

.icon {
    &Add {
        max-height: var(--font-size-large);
        padding-top: 4px;
        padding-right: 10px;
    }
}