section {
    margin-bottom: 50px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &Big {
        max-width: var(--container-width-big);
    }

    &Medium {
        max-width: var(--container-width-medium);
    }
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: var(--font-size-large);
    font-weight: bold;

    & .selectWrapper {
        width: 70px;
        height: 37px;
    }

    &Link {
        display: block;
        padding: 0 var(--padding-base);
        line-height: 36px;
        text-decoration: none;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        transition: 0.5s;

        &:hover {
            background-color: var(--color-column-button);
        }

        &:active {
            background-color: var(--text-column-color);
        }
    }
}


.main {
    display: flex;
    align-items: flex-start;
    height: calc(100vh - 200px - 60px);
    padding: 40px 0;
}



