.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - #{var(--padding-base)} * 2 - 45px);
    height: 100%;
    padding: 0 var(--padding-base);
    cursor: pointer;
    background-color: var(--color-text-white);
    border-radius: 3px;
    transition: 0.5s;
}