.notFoundPage {
    &Wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: var(--main-background-color);
    }

    &Content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &Text {
        color: var(--details-background-color);
        text-align: center;
    }

    &Title {
        margin: 50px 0;
        font-size: 100px;
    }

    &Subtitle {
        font-size: 40px;
    }

    &Icon {
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        max-height: 300px;
        color: var(--details-background-color);
    }
}

.btnWrapper {
    margin-top: 30px;
}