.wrapper {
  display: grid;
  flex-grow: 1;
  grid-template-rows: 80px 1fr;
  color: var(--details-background-color);

  &Container {
    max-width: var(--container-width-medium);
    margin: 0 auto;
  }

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: var(--main-background-color);

  &Title {
    color: var(--details-background-color);
  }
}

.main {
  background-color: var(--main-background-color);
}

.regContainer {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
