@import '../../scss/variables';

.task {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - #{$padding-base * 2});
    height: 50px;
    padding: 0 $padding-base;
    margin-bottom: $padding-base;
    cursor: pointer;
    background-color: $color-text-white;
    border-radius: 3px;
    transition: 0.5s;
    
    &_buttons {
        display: flex;
        justify-content: space-between;
        width: 80px;
        opacity: 0;
    }

    &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &_icon {
        color: $color-text-white;
        fill: $color-text-white;
    }

    &:hover {
        color: $color-text-white;
        background-color: $color-column-button;

        & .task {
            &_buttons{
                opacity: 1;
            }
        }
    }
}

.modal { 
    display: flex;
    flex-direction: column;
    width: $width-column;
    height: 150px;

    & .input {
        width: 100%;
        min-height: calc(100% - 40px);;
        padding: 0;
        resize: none;
    }

    & .button {
        width: 100%;
        height: 40px;
    }
}